h1{
	color: brown;
	font-family: Arial, sans-serif;
	font-size: 2rem /*2x the HTML size. default size is 16px, so is 62.5% is 10 px*/;
}
body{
	background: #F5CBA7;
}
div{
	color: black;
	font-family: Arial, sans-serif;
	
}

li,h3{
	color: #795548;
}

a:hover{
	color: #7fffff;
	font-size: 150%;
}
a:focus{
	color: #7fff00;
}
a:visited{
	color: red;
}
a:active{
	color: #7fff00;
}

#firstp{
	font-size: 120%;
}

#table1{
	border: 2px solid black;
	padding: 12px;
	text-align: center;
	background-color: #f1f1c1;
}